faiss-cpu==1.11.0
huggingface-hub==0.31.4
nltk==3.9.1
numpy==1.26.4
openai==1.82.0
pandas==2.2.3
pillow==11.2.1
pymupdf==1.26.0
requests==2.32.3
sentence-transformers==4.1.0
streamlit==1.45.1
tokenizers==0.21.1
transformers==4.52.3
